Why is id token used instead of access token?

## Background

I'm completely new to OpenPubkey.

I've read the following sections of [the spec](https://eprint.iacr.org/2023/296.pdf):

- Abstract

- 1 Introduction

- 3 The OpenPubkey Protocol

    - 3.1 Creating a PK Token

    - 3.2 Verifying a PK Token

## Question

I may be wrong, but as far as I know, access tokens should be used to protect APIs, resources, etc. while id token should be used only client-side and should never be sent to servers. (Intuitive explanation of this may be "it is overkill to send `address` claim of id token only to access APIs, resources, etc.)

[DPoP](https://datatracker.ietf.org/doc/html/rfc9449), for example, adds proof-of-possession mechanism to access tokens.

Now I have a few elementary questions:

- Why does OPK try to protect id tokens instead of access tokens?

- To which parties (servers) does the spec assume PK tokens are sent? (I assumed API servers, resource servers, etc., but my assumption was incorrect in the first place?)



Reading [the `README.md` of this repository](https://github.com/openpubkey/openpubkey/blob/main/README.md) and [a Docker blog](https://www.docker.com/blog/signing-docker-official-images-using-openpubkey/), I think I understand the motivation of OpenPubkey.

I still don't understand `Abstract` and `1 Introduction` of [the paper](https://eprint.iacr.org/2023/296.pdf) though; I don't tell how the chapters of the paper are directly related to the two documents above:

The abstract of the paper says

> This allows OpenPubkey to upgrade OpenID Connect from Bearer Authentication to Proof-of-Possession

and `1 Introduction` defines "Bearer Authentication" as

> The audience checks the OP’s signature on the ID Token, then grants the user access to the account corresponding to the identity attested by the ID Token. This form of authentication is called Bearer Authentication.

To me, this looks like the "protect APIs, resources, etc." usecase mentioned in the OP, and at least unrelated to public keys.

---

As for the

> send address claim of id token

problem in the OP, `OIDC ID tokens can contain personal information` section of the Docker blog above also mentions that, but with no general solution provided.

(Maybe I should understand OpenPubkey as a very practical and easy-to-adopt solution given that OIDC is already prevalent and thus, by design, not an ideal-world purpose-tailored solution?)


Thanks for these questions

> I may be wrong, but as far as I know, access tokens should be used to protect APIs, resources, etc. while id token should be used only client-side and should never be sent to servers.

Both Access Tokens and ID Tokens are intended to be sent to servers, APIs, resources. The traditional difference is that Access Tokens were opaque, that is, just a random string. The API would receive the Access Token need to query an API at the service that issued the Access Token to determine say the email address of the user.

ID Tokens are much more simple, they contain all the information themselves, so any API that receives them doesn't need to make an additional API request. 

> Why does OPK try to protect id tokens instead of access tokens?

OPK uses ID Token instead of Access Tokens, because ID Tokens contain email addresses and OpenPubkey has a trick for including a public key in an ID Token. This means the ID Token can function like a certificate that says: "The public key held by the user Alice@example.com is 0x123..."  We call an ID Token that has additional data to function like a certificate a PK Token. That isn't really possible with Access Tokens because they don't contain email addresses and we don't a trick for getting a public key into them (well we do but it is complex and annoying).

> [DPoP](https://datatracker.ietf.org/doc/html/rfc9449), for example, adds proof-of-possession mechanism to access tokens.

DPoP is a fantastic protocol. Quoting from the related work section of [OpenPubkey: Augmenting OpenID Connect with User held Signing Keys](https://eprint.iacr.org/2023/296)

```
There has been significant standardization work over the last decade to defend against Token Replay and Token Export Attacks in OAuth2 (RFC 6749) [17]. Token Binding [35–37] was a standard which mitigated these attacks by constraining a token to a particular party. It failed because it was unable to get chromium/Google Chrome [18] to make the necessary changes to support Token Binding. Certificate Bound Tokens (RFC-8705) [10] is an alternative approach which modifies the OAuth2 protocol by introducing TLS Client Certificates to OAuth2 and thereby adding Proof-of-Possession. A third proposal is the IETF draft “Demonstration of Proofof-Possession (DPoP)” [15] which adds a new token type to OAuth2 that attests to the token holder’s public key, enabling Proof-of-Possession with this signing key. OpenPubkey’s Proof-of-Possession was inspired by DPoP.

OpenPubkey differs from these approaches in several respects. While they are focused on OAuth2 authorization, OpenPubkey is focused on OpenID Connect authentication. Unlike these approaches, OpenPubkey supports the authentication of message integrity in addition to identity, this unlocks a new world of protocols built on user held signing keys. User
signed messages are not currently possible in OAuth2 and OpenID Connect. Critically OpenPubkey does not require
changes to token issuers so it can be used today (and is being used today). OpenPubkey PoP’s JWS challenge and sign is very similar to the JWS challenge and sign pattern used in RFC-8555 (ACME) [5]. We are investigating if we can reformulate OpenPubkey PoP as an extension of ACME’s Request Authentication.
```

> To which parties (servers) does the spec assume PK tokens are sent? (I assumed API servers, resource servers, etc., but my assumption was incorrect in the first place?)

The main usecase is embedding the PK Token in a SSH public key so that you can ssh into servers with OpenID Connect identity. See https://github.com/openpubkey/opkssh

> To me, this looks like the "protect APIs, resources, etc." usecase mentioned in the OP, and at least unrelated to public keys.

Exactly! Once we get the public key into an ID Token we can provide far stronger security than bearer tokens can offer.

> As for the send address claim of id token problem in the OP, OIDC ID tokens can contain personal information section of the Docker blog above also mentions that, but with no general solution provided.

For many usecases, having personal information like an email address is actually the desired behavior, e.g. opkssh. The general solution, if you want to hide this information is to use ZKP. zkLogin can do this for you https://arxiv.org/abs/2401.11735

> (Maybe I should understand OpenPubkey as a very practical and easy-to-adopt solution given that OIDC is already prevalent and thus, by design, not an ideal-world purpose-tailored solution?)

Yes, this is correct. Things would be very different is we could make changes to the OIDC protocol. The hard part and the most valuable part of OpenPubkey is that we got it to work without these changes.

@EthanHeilman 
Thank you very much for the detailed answer!

After reading your answer and re-reading some of the sections of the paper, now I gained a deeper understanding.


> The main usecase is embedding the PK Token in a SSH public key so that you can ssh into servers with OpenID Connect identity. See https://github.com/openpubkey/opkssh

Actually I came to know OpenPubkey by reading [a CloudFlare blog about OPKSSH](https://blog.cloudflare.com/open-sourcing-openpubkey-ssh-opkssh-integrating-single-sign-on-with-ssh/) :)
I'm very interested in this topic, so I'll continue learning OPK and OPKSSH.

@your-diary Feel free to PR any features you want. We are very open and welcoming to new contributors.